*,
*:after,
*:before {
    margin: 0;
    padding: 0;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

img {
    width: 100%;
}

ul,
ol {
    list-style: none;
}

body {
    background: #14213d;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
}

.wrapper {
    width: 96%;
    max-width: 1140px;
    margin: 0 auto;
}

.card-grid {
    margin: 2em 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 48px;
}

.card {
    border-image: 3px solid #031121;
    background-color: #e5e5e5;
    padding: 0px;
    box-shadow: #fca311;
    height: 350px;
}

.card-content {
    padding: 32px 15px;
}

.card-list {
    margin-top: 16px;
}